<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>JPA BOARD</title>
	<script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/search.js}"></script>

</head>

<body class="container">

	<div class="jumbotron">
		<h2>JPA BOARD</h2>
		<a href="/"><button class="btn btn-default pull-right">메인</button></a>
	</div>

	<form th:action="@{/board}" method="get">
		<div style="margin: 0 0 15px 0;">
			<input type="text" id="searchText" name="searchText"/>&nbsp;<input type="submit" id="btnSearch"/ value="검색"> <br>
		</div>
	</form>
	<table class="table">

		<tr>
			<th>글 번호</th>
			<th>글 제목</th>
			<th>글쓴이</th>
			<th>조회수</th>
			<th>작성일</th>
		</tr>
		<tr th:each="b: ${boardList}">
			<td th:text="${b.seq}"></td>
			<td>
				<a th:href="@{'/board/detail?seq='+${b.seq}}">
					<span th:text="${b.boardTitle}"></span>
				</a>
			</td>
			<td th:text="${b.writer.name}"></td>
			<td th:text="${b.boardHits}"></td>
			<td th:text="${b.insDate}"></td>
		</tr>

	</table>

	<div sec:authorize="hasAuthority('USER')">
		<a href="/write"><button class="btn btn-default pull-left">글쓰기</button></a>
	</div>

	<div th:replace="paging"></div>

</body>

</html>