<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<!--<head th:replace="layouts/header"></head>-->
<head>
</head>
<body>
	<h1>Hello, world!</h1>
	Click <a th:href="@{/hello}">here</a> to see a greeting. <br>
	<a th:href="@{/board}">board</a><br>
	
	<a th:href="@{/vue}">VUE</a><br>
	<div sec:authorize="hasAuthority('USER')">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
	</div>
	
	<div sec:authorize="!hasAuthority('USER')">
        <form th:action="@{/login}" method="get">
            <input type="submit" value="Log In"/>
        </form>
	</div>
	
	
</body>
</html>