
// s : sizes
$bodyMinWidth: 1280px;
$contentsWidth: 1220px;
// e : sizes

// s : colors
$primaryColor: #009afa;
$redColor: #fc1a40;
$errorColor: #fc1a40;
$emeraldColor: #00b29c;
// e : colors

// s : transition
$transDefaultTime: .23s;
$transDefaultEase: ease-out;
$transEaseBounceBack: cubic-bezier(.17, .67, .29, 1.32);
// e : transition